.footer{
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: #212731;
    height: 60vh;

    p,h3{
        color: white;
        margin: 4vmin;
        padding: 0.1vmin;
    }

    .states-option {
  color: white;
  border: none;
  position: relative;

  select {
    background-color: #212731; // Set background color for select element
    position: absolute; // Set the select element position to absolute
    top: 20vh; // Adjust the top position as needed
    color: white; // Set text color for select element
    border: none; // Remove border for select element

    option {
      background-color: #212731; // Set background color for options
      color: white; // Set text color for options
    }
  }
}

}